@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.project-container {
    @include mixins.align(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    height: auto;
    overflow: hidden;

    .title {
        @include mixins.align(relative, flex, space-between, center);
        width: inherit;
        margin: 25vh 0;
        padding: 0 10vw;

        @include responsive.screen_small {
            margin: 100px 0;
            padding: 0 30px;
        }

        h1 {
            @include mixins.animate();
            width: 20vmax;
            font-size: 7vmax;
            color: var.$Color_White_B9;
            font-family: var.$font_Primary;
            transition: var.$Transition_ease;
            letter-spacing: 3px;

            @include responsive.screen_small {
                font-size: 40px;
                padding-left: 15px;
            }
        }

        a {
            width: 12vmax;
            text-decoration: none;
            color: var.$Color_White_B9;

            .svg {
                @include mixins.align(relative, flex, space-around, center);
                pointer-events: none;
                cursor: pointer;

                @include responsive.screen_small {
                    width: 130px;
                }

                svg {
                    border: 1px solid var.$Color_White_B9;
                    padding: 1vmax;
                    border-radius: 50%;
                    width: 40%;
                    transform: rotate(90deg);
                }

                span {
                    font-size: 2vmax;
                    font-family: var.$font_Primary;

                    @include responsive.screen_small {
                        display: none;
                    }
                }
            }

            &:hover {
                color: var.$Secundary_Color;

                svg {
                    border-color: var.$Secundary_Color;
                }
            }
        }
    }

    .row {
        @include mixins.align(relative, flex, center, center);
        flex-direction: column;
        width: 90vw;
        height: auto;

        .projects {
            @include mixins.align(relative, flex, center, center);
            width: inherit;
            height: auto;
            margin: 0 0 40vh 0;

            @include responsive.screen_tablet {
                flex-direction: column;
                margin: 0 0 10vh 0;
            }

            &:last-child {
                margin: 0;
            }

            .name {
                position: relative;
                width: 40vw;
                height: 100vh;
                padding: 3vmax 1vmax;

                @include responsive.screen_tablet {
                    flex-direction: column;
                    height: auto;
                    width: inherit;
                    padding: 70px 0;
                }

                @include responsive.screen_small {
                    width: 85%;
                }

                a {
                    font-size: 7vmax;
                    padding: 0.8vmax 0;
                    color: var.$Secundary_Color;
                    font-family: var.$font_Tertiary;
                    letter-spacing: 3px;
                    text-decoration: none;
                    cursor: pointer;

                    @include responsive.screen_tablet {
                        font-size: 40px;
                    }
                }
            }

            .view {
                @include mixins.align(relative, flex, center, center);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 40vw;
                height: 110vh;
                padding: 0 3vw;
                border-radius: 1vmax;
                overflow: hidden;
                cursor: none;

                @include responsive.screen_laptop {
                    width: 60vw;
                    height: 90vh;
                }

                @include responsive.screen_small {
                    width: 70vw;
                    height: 70vh;
                }
            }

            .info {
                position: relative;
                width: 20vw;
                height: 100vh;
                padding: 1.5vmax;

                @include responsive.screen_tablet {
                    width: 70%;
                    height: auto;
                    padding: 50px 0;
                }

                p {
                    padding-top: 70vh;
                    font-size: 1.5vmax;
                    line-height: 1.2;
                    letter-spacing: 1px;
                    color: var.$Color_White_B9;
                    font-family: var.$font_Tertiary;

                    @include responsive.screen_tablet {
                        text-align: center;
                        padding: 0;
                        font-size: 18px;
                    }
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                @include responsive.screen_tablet {
                    flex-direction: column;
                }
            }
        }
    }

    .ancor_about {
        @include mixins.align(relative, flex, center, center);
        width: inherit;
        margin: 10vh 0 2vh 0;
        padding-left: 50vw;

        @include responsive.screen_small {
            padding: 0;
        }

        a {
            text-decoration: none;
            color: var.$Color_White_B9;
            cursor: pointer;

            @include responsive.screen_small {
                width: 300px;
            }

            .ancora {
                @include mixins.align(relative, flex, center, center);
                pointer-events: none;

                span {
                    text-align: start;
                    font-size: 2.5vmax;
                    font-family: var.$font_Primary;
                    letter-spacing: 3px;
                    padding-right: 2vmax;
                    text-wrap: nowrap;

                    @include responsive.screen_small {
                        font-size: 20px;
                    }
                }

                svg {
                    border: 1px solid var.$Color_White_B9;
                    padding: 1vmax;
                    border-radius: 50%;
                    width: 13%;
                    transform: rotate(90deg);

                    @include responsive.screen_small {
                        width: 15%;
                    }
                }
            }

            &:hover {
                color: var.$Secundary_Color;

                svg {
                    border-color: var.$Secundary_Color;
                }
            }
        }
    }
}