@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

$bg-project-1: url('/assets/img/1.jpg');
$bg-project-2: url('/assets/img/2.jpg');
$bg-project-3: url('/assets/img/3.jpg');
$bg-project-4: url('/assets/img/4.jpg');

.project-container {
    @include mixins.align(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    height: auto;
    overflow: hidden;

    .title {
        @include mixins.align(relative, flex, space-around, center);
        width: inherit;
        height: auto;
        margin: 25vh 0;

        @include responsive.screen_small {
            margin: 100px 0;
            padding: 0 30px;
        }

        h1 {
            text-align: start;
            font-size: 7vmax;
            color: var.$Color_White_B9;
            font-family: var.$font_Primary;
            letter-spacing: 3px;

            @include responsive.screen_small {
                font-size: 40px;
            }
        }

        a {
            position: relative;
            width: 10vmax;
            height: auto;

            @include responsive.screen_small {
                width: 100px;
            }

            .svg {
                border: 1px solid var.$Color_White_B9;
                padding: 1vmax;
                border-radius: 50%;
                width: 40%;
                transform: rotate(90deg);
                cursor: pointer;

                @include responsive.screen_small {
                    width: 50%;
                    margin-left: 30px;
                }

                &::after {
                    position: absolute;
                    content: 'todos';
                    width: inherit;
                    height: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-90deg);
                    font-size: 2vmax;
                    padding-left: 8vmax;
                    font-family: var.$font_Primary;
                    color: var.$Color_White_B9;

                    @include responsive.screen_small {
                        display: none;
                    }
                }
            }
        }
    }

    .row {
        @include mixins.align(relative, flex, center, center);
        flex-direction: column;
        flex-wrap: wrap;
        width: 90vw;
        height: auto;

        .projects-1,
        .projects-2,
        .projects-3,
        .projects-4 {
            @include mixins.align(relative, flex, center, center);
            width: inherit;
            height: auto;
            margin: 0 0 40vh 0;

            @include responsive.screen_tablet {
                flex-direction: column;
                margin: 0 0 10vh 0;
            }

            &:nth-child(4) {
                margin: 0;
            }

            .name {
                position: relative;
                width: 40vw;
                height: 100vh;
                padding: 3vmax 1vmax;

                @include responsive.screen_tablet {
                    flex-direction: column;
                    height: auto;
                    width: inherit;
                    padding: 70px 0;
                }

                @include responsive.screen_small {
                    width: 85%;
                }

                a {
                    font-size: 7vmax;
                    color: var.$Secundary_Color;
                    font-family: var.$font_Tertiary;
                    letter-spacing: 3px;
                    white-space: normal;
                    text-decoration: none;
                    overflow-wrap: break-word;
                    cursor: pointer;

                    @include responsive.screen_tablet {
                        font-size: 40px;
                    }
                }
            }

            .view {
                @include mixins.align(relative, flex, center, center);
                width: auto;
                height: 100vh;
                border-radius: 20px;
                overflow: hidden;
                cursor: none;

                &.view-1 {
                    @include mixins.banner_project($bg-project-1);
                }

                &.view-2 {
                    @include mixins.banner_project($bg-project-2);
                }

                &.view-3 {
                    @include mixins.banner_project($bg-project-3);
                }

                &.view-4 {
                    @include mixins.banner_project($bg-project-4);
                }

                .view-float {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10vw;
                    height: 10vw;
                    border-radius: 50%;
                    transform: translateX(-15vw);
                    display: grid;
                    place-content: center;
                    background-color: var.$gray_primary;
                    z-index: 2;

                    span {
                        color: var.$Color_White_B9;
                        font-size: 2vmax;
                        letter-spacing: 2px;
                        font-family: var.$font_Tertiary;
                    }
                }

                img {
                    position: relative;
                    width: 80%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 1vmax;
                }
            }

            .info {
                position: relative;
                width: 20vw;
                height: 100vh;
                padding: 1.5vmax;

                @include responsive.screen_tablet {
                    width: 70%;
                    height: auto;
                    padding: 50px 0;
                }

                p {
                    padding-top: 70vh;
                    font-size: 1.5vmax;
                    line-height: 1.2;
                    letter-spacing: 1px;
                    color: var.$Color_White_B9;
                    font-family: var.$font_Tertiary;

                    @include responsive.screen_tablet {
                        text-align: center;
                        padding: 0;
                        font-size: 18px;
                    }
                }
            }
        }

        .projects-2,
        .projects-4 {
            flex-direction: row-reverse;

            @include responsive.screen_tablet {
                flex-direction: column;
            }
        }
    }

    .ancor_about {
        @include mixins.align(relative, flex, center, center);
        width: inherit;
        height: auto;
        margin-top: 10vh;
        padding-left: 50vw;

        @include responsive.screen_small {
            padding: 0;
        }

        a {
            @include mixins.align(relative, flex, space-around, center);
            text-decoration: none;
            width: 25vw;
            height: auto;
            cursor: pointer;

            @include responsive.screen_small {
                width: 300px;
            }

            h1 {
                text-align: start;
                font-size: 2.5vmax;
                color: var.$Color_White_B9;
                font-family: var.$font_Primary;
                letter-spacing: 3px;
                padding-right: 2vmax;
                text-wrap: nowrap;

                @include responsive.screen_small {
                    font-size: 20px;
                }
            }

            .svg {
                border: 1px solid var.$Color_White_B9;
                padding: 0.5vmax;
                border-radius: 50%;
                width: 20%;
                transform: rotate(90deg);

                @include responsive.screen_small {
                    width: 15%;
                }

                svg {
                    pointer-events: none;
                }
            }
        }
    }
}