@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'aquire light';
    src: url(/src/assets/fonts/Aquire/Aquire-Light.otf);
}

@font-face {
    font-family: 'aquire regular';
    src: url(/src/assets/fonts/Aquire/Aquire-Regular.otf);
}

@font-face {
    font-family: 'aquire bold';
    src: url(/src/assets/fonts/Aquire/Aquire-Bold.otf);
}