@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'aquire light';
    src: url(/src/assets/fonts/Aquire/Aquire-Light.otf);
}

@font-face {
    font-family: 'aquire regular';
    src: url(/src/assets/fonts/Aquire/Aquire-Regular.otf);
}

@font-face {
    font-family: 'aquire bold';
    src: url(/src/assets/fonts/Aquire/Aquire-Bold.otf);
}