@use 'variables';
@use 'components';

@mixin align($position, $flex, $centralization, $align){
    position: $position;
    display: $flex;
    justify-content: $centralization;
    align-items: $align;
}

@mixin text_formatting($align, $style, $weight, $spacing){
    text-align: $align;
    font-family: variables.$font_Tertiary;
    font-style: $style;
    font-weight: $weight;
    letter-spacing: $spacing;
}

@mixin text-bg($top){
    position: absolute;
    top: $top;
    left: 3vw;
    right: 0;   
    font-size: 10vw;
    font-style: italic;
    font-family: variables.$font_Primary;
    text-transform: uppercase;
    text-wrap: nowrap;
    letter-spacing: 2px;
    color: variables.$Color_White_Smoker;
    pointer-events: none;
}

@mixin formatting-icon($widht, $height, $color-bg){
    display: inline-block;
    width: $widht;
    height: $height;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: $color-bg;
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

@mixin description-liguagens(){
    position: absolute;
    left: 25%;
    width: 18vw;
    height: auto;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    transform: translateY(10px);
    color: variables.$Color_White;
    font-family: variables.$font_Primary;
    font-size: 1vmax;
    font-weight: 900;
    letter-spacing: 2px;
    z-index: 1;
    opacity: 0;
    transition: variables.$Transition_ease;
    pointer-events: none;
}