@use 'variables' as var;
@use 'components';
@use 'responsive';

@mixin align($position, $flex, $centralization, $align) {
    position: $position;
    display: $flex;
    justify-content: $centralization;
    align-items: $align;
}

@mixin formatting-icon($widht, $height, $color-bg) {
    display: inline-block;
    width: $widht;
    height: $height;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: $color-bg;
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

@mixin skills () {
    position: relative;
    width: auto;
    height: auto;
    padding: 0.5vmax 1.3vmax;
    margin: 0.5vmax;
    border-radius: 50px;
    border: 1px solid var.$Color_White_B9;
    font-size: 1.5vmax;
    letter-spacing: 2px;
    font-family: var.$font_Primary;
    color: var.$Color_White_B9;

    @include responsive.screen_laptop{
        font-size: 3vmax;
    }

    @include responsive.screen_small {
        margin: 8px;
        font-size: 22px;
    }
}