/* Responsivo para dispositivos large: */

@mixin screen_large{
    @media screen and (max-width:1200px){
       @content;
    }
}

/* Responsivo para dispositivos Laptops: */

@mixin screen_laptop{
    @media screen and (max-width:1100px){
       @content;
    }
}

/* Responsivo para dispositivos Tablets: */

@mixin screen_tablet{
    @media screen and (max-width:768px){
       @content;
    }
}

@mixin screen_tablet_rotate{
    @media screen and (max-height:460px){
        @content;
    }  
}

/* Responsivo para dispositivos Móveis: */

@mixin screen_small{
    @media screen and (max-width:600px){
       @content;
    }
}

/* Telas muitos pequenas: 

@mixin screen_not_suport{
    @media screen and (max-width:300px), (max-height:220px){
        @content;
        &::before{
            content: 'screen não suportado... !';
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffffd0;
            width: 100dvw;
            height: 100dvh;
            font-size: 40px;
            text-align: center;
            font-family: 'Alumni Sans Inline One', sans-serif;
        }
    }
}*/