/*===========================================================================*/

$gray_primary:#161616;

$Secundary_Color: #caa986;

$Color_White:#ffffff;

$Color_White_B9: #ffffffb9;

$Color_White_Smoker: #ffffff29;

$Color_White_Smoker_dwo: #ffffff6d;

$Icon_color_Smoker: #ffffff07;

$Color_Black: #000;

$Color_Null: #00000000;

$Transition_ease: 0.5s all ease;

$HTML: #ff641a;

$CSS: #0d73b7;

$SASS: #cc6699;

$REACT: #00d9ff;

$JS: #ffdf00;

$TS: #2d79c7;

$PHP: #8f9ed1;

$BOOSTRAP: #8812fb;

$JAVA: #427595;

$FIGMA: #02d084;

$SQL: #b71c1c;

$GIT: #f05033;

$BULMA: #00d2b4;

$TAILWIND: #0dbfb9;

$MATERIALIZE: #ec7178;

$RAILWAY: #ffffff;

$font_Primary: 'aquire light', sans-serif;

$font_Secondary: 'aquire regular', sans-serif;

$font_Tertiary: 'aquire bold', sans-serif;