/*===========================================================================*/

$gray_primary:#0f0f0f;

$gray_Secundary_Color: #323235;

$Secundary_Color: #caa986;

$Color_White:#ffffff;

$Color_White_B9: #ffffffb9;

$Color_Smoker: rgba(0, 0, 0, 0.9);

$Transition_ease: 0.5s ease;

$HTML: #ff641a;

$CSS: #0d73b7;

$SASS: #cc6699;

$REACT: #00d9ff;

$JS: #ffdf00;

$TS: #2d79c7;

$PHP: #8f9ed1;

$BOOTSTRAP: #8812fb;

$JAVA: #044a76;

$FIGMA: #00e08e;

$SQL: #a70000;

$GIT: #fe7b64;

$BULMA: #00d2b4;

$TAILWIND: #00847f;

$MATERIALIZE: #f64851;

$VERCEL: #898989;

$font_Primary: 'aquire light', sans-serif;

$font_Secondary: 'aquire regular', sans-serif;

$font_Tertiary: 'aquire bold', sans-serif;

$font_normal: "Ubuntu", sans-serif;