@use 'variables' as var;
@use 'responsive';

@mixin animate() {
    &:hover {
        transition: var.$Transition_ease;
        letter-spacing: 0.7vmax;
    }
}

@mixin effect_affter() {
    &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 0%;
        transform: translate(-50%, -50%);
        background-color: var.$Secundary_Color;
        transition: 0.3s all;
        pointer-events: none;
        z-index: -1;
    }

    &:hover::after {
        height: 100%;
        transition: 0.3s all;
        pointer-events: none;
    }
}

@mixin background($height) {
    background: url('/assets/svg/background.svg') var.$gray_primary;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: $height;
}

@mixin align($position, $flex, $centralization, $align) {
    position: $position;
    display: $flex;
    justify-content: $centralization;
    align-items: $align;
}

@mixin formatting-icon($widht, $height, $color-bg) {
    display: inline-block;
    width: $widht;
    height: $height;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: $color-bg;
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

@mixin skills () {
    position: relative;
    width: auto;
    height: auto;
    padding: 0.5vmax 1.3vmax;
    margin: 0.5vmax;
    border-radius: 50px;
    border: 1px solid var.$Color_White_B9;
    font-size: 1.5vmax;
    letter-spacing: 2px;
    font-family: var.$font_Primary;
    color: var.$Color_White_B9;

    @include responsive.screen_laptop {
        font-size: 3vmax;
    }

    @include responsive.screen_small {
        margin: 8px;
        font-size: 22px;
    }
}

@mixin btn () {
    position: relative;
    width: auto;
    height: auto;
    padding: 0.5vmax 3vmax;
    background-color: transparent;
    font-size: 1.8vmax;
    border: 0.1vw solid var.$Color_White_B9;
    border-radius: 10vw;
    font-family: var.$font_Secondary;
    color: var.$Color_White_B9;
    transition: var.$Transition_ease;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

    @include responsive.screen_laptop {
        font-size: 20px;
        padding-left: 30px;
    }

    @include responsive.screen_small {
        font-size: 19px;
        padding: 14px 50px;
    }

    &::after {
        position: absolute;
        content: '';
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
        top: 50%;
        left: 6%;
        transform: translate(-50%, -50%);
        background-color: var.$Secundary_Color;
        mix-blend-mode: difference;
        transition: var.$Transition_ease;

        @include responsive.screen_laptop {
            width: 25px;
            height: 25px;
        }

        @include responsive.screen_small {
            width: 40px;
            height: 40px;
            left: 9%;
        }
    }

    &:hover::after {
        left: 94%;
        transition: var.$Transition_ease;

        @include responsive.screen_small {
            left: 93%;
        }
    }

    &:hover {
        background-color: var.$Secundary_Color;
        color: var.$gray_primary;
        transition: var.$Transition_ease;
        border-color: var.$Secundary_Color;
    }
}