@use '/src/Components/sass/responsive';
@use '/src/Components/sass/variables' as var;


.button-top {
    position: fixed;    
    right: 0;
    bottom: 0;
    opacity: 0;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    transition: var.$Transition_ease;
    z-index: 1;

    @include responsive.screen_small{ 
        margin-right: 15px;
        margin-bottom: 20px;
    } 
    
    a{
        position: relative;
        width: auto;
        height: auto;
        padding: 1vmax;
        display: grid;
        place-content: center;
        cursor: pointer;
        background-color: rgba(102, 51, 153, 0);

        &:hover i{
            color: var.$Secundary_Color;
        }
        
        svg{
            width: 3vmax;
            color: var.$Color_White_B9;

            @include responsive.screen_laptop{
                width: 50px;
            }
            @include responsive.screen_small{
                width: 37px;
            }
        }

        i{
            font-size: 2.5vmax;
            color: var.$Color_White_B9; 
            pointer-events: none;

            @include responsive.screen_laptop{
                font-size: 30px;
            }
        }
    }
}