@use '/src/Components/sass/responsive';
@use '/src/Components/sass/variables' as var;


.button-top {
    position: fixed;    
    right: 0;
    bottom: 0;
    opacity: 0;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: transparent;
    transition: var.$Transition_ease;
    z-index: 1;

    @include responsive.screen_small{ 
        margin-right: 15px;
        margin-bottom: 20px;
    } 
    
    a{
        cursor: pointer;
        
        svg{
            width: 3vmax;
            color: var.$Color_White;

            @include responsive.screen_laptop{
                width: 50px;
            }
            @include responsive.screen_small{
                width: 37px;
            }
        }
    }
}