@use '/src/Components/sass/responsive';
@use '/src/Components/sass/mixins';
@use '/src/Components/sass/variables' as var;

.diferenciais-container {
    @include mixins.align(relative, flex, center, center);
    width: 100vw;
    height: auto;
    margin-bottom: 20vh;
    
    @include responsive.screen_small {
        margin: 0;
        padding-top: 60px;
    }

    .omega{
        @include mixins.align(relative, flex, space-between, center);
        width: 90vw;
        height: 200vh;
        height: auto;

        @include responsive.screen_laptop{
            flex-direction: column;
        }      
        @include responsive.screen_small {
            width: 90%;
        }

        .cicle-animate {
            @include mixins.align(sticky, flex, space-between, center);
            top: 0;
            flex-direction: column;
            width: 45vw;
            height: 200vh;

            @include responsive.screen_laptop{
                position: relative;
                width: inherit;
                flex-direction: row;
                justify-content: start;
                height: auto;
            }
    
            .cicle-1 {
                position: sticky;
                top: 15vh;
                margin-right: 12vw;
                width: 25vw; 
                height: 25vw;
                border-radius: 50%;
                background-color: transparent;
                border: 0.5vw double var.$Secundary_Color;

                @include responsive.screen_laptop{
                    position: relative;
                    margin: 0;
                }
                @include responsive.screen_small {
                    top: 0;
                    width: 150px;
                    height: 150px;
                }   
            }
            
            .cicle-2 {
                position: sticky;
                top: 0;
                margin-left: 5vw;
                width: 25vw; 
                height: 25vw; 
                border: 0.5vw double var.$Secundary_Color;
                border-radius: 50%;
                background-color: transparent;
                mix-blend-mode: difference;

                @include responsive.screen_laptop{
                    position: relative;
                    margin: 0;
                    transform: translateX(-15vw)
                }
                @include responsive.screen_small {
                    width: 150px;
                    height: 150px;
                }
            }
        }
    
        .row{
            @include mixins.align(relative, flex, center, center);
            flex-direction: column;
            width: 45vw;
            height: auto;

            @include responsive.screen_laptop{
                width: inherit;
            }

            .layers-one , .layers-dwo{
                @include mixins.align(relative, flex, space-around, center);
                flex-direction: column;
                width: initial;
                height: 100vh;
                padding: 10vh 0;
        
                .tittle {
                    position: relative;
                    width: 100%;
                    height: auto;
        
                    h1 {
                        text-align: start;
                        font-size: 4vmax;
                        letter-spacing: 3px;
                        font-family: var.$font_Tertiary;
                        color: var.$Color_White_B9;

                        @include responsive.screen_laptop{
                            font-size: 6vmax;
                        }    
                        @include responsive.screen_small {
                            font-size: 35px;
                        }
                    }
               
                    span{
                        text-align: start;
                        font-size: 3vmax;
                        letter-spacing: 3px;
                        font-family: var.$font_Primary;
                        color: var.$Secundary_Color;
                    }
                }
        
                .systens, .skills {
                    @include mixins.align(relative, flex, start, center);
                    flex-wrap: wrap;
                    width: inherit;
                    height: auto;
        
                    @include responsive.screen_laptop {
                        width: 100%;
                    }
        
                    span {
                        @include mixins.skills();
                    }
                }

                .btn-project, .btn-contatc{
                    position: relative;
                    width: 100%;
                    height: auto;

                    button{
                        position: relative;
                        width: auto;
                        height: auto;
                        padding: 0.5vmax 3vmax;
                        background-color: transparent;
                        font-size: 2vmax;
                        border: 0.1vw solid var.$Color_White_B9;
                        border-radius: 10vw;
                        font-family: var.$font_Secondary;
                        color: var.$Color_White_B9;
                        transition: var.$Transition_ease;
                        overflow: hidden;
                        cursor: pointer;

                        @include responsive.screen_laptop{
                            font-size: 3.5vmax;
                            padding-left: 50px;
                        }              
                        @include responsive.screen_small {             
                            font-size: 22px;
                        }

                        &::after{
                            position: absolute;
                            content: '';
                            width: 2vw;
                            height: 2vw;
                            border-radius: 50%;
                            top: 50%;
                            left: 5%;
                            transform: translate(-50%, -50%);
                            background-color: var.$Secundary_Color;
                            mix-blend-mode: difference;
                            transition: var.$Transition_ease;

                            @include responsive.screen_laptop{
                                width: 30px;
                                height: 30px;
                            }
                            @include responsive.screen_small {
                                width: 40px;
                                height: 40px;
                                left: 7%;
                            }
                        }

                        &:hover{
                            background-color: var.$Secundary_Color;
                            color: var.$gray_primary;
                            transition: var.$Transition_ease;
                            border-color: var.$Secundary_Color;
                        }

                        &:hover::after{
                            left: 95%;
                            transition: var.$Transition_ease;

                            @include responsive.screen_small {       
                                left: 93%;
                            }
                        }
                    }
                }
            }          
        }
    }
}