@use '/src/Components/sass/components';
@use '/src/Components/sass/key-Frames';
@use '/src/Components/sass/responsive';
@use '/src/Components/sass/mixins';
@use '/src/Components/sass/variables' as var;


.tecnology-container {
    @include mixins.align(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin-top: 20vh;
    padding-top: 20vh;

    @include responsive.screen_tablet {
        margin: 0;
    }

    .row {
        @include mixins.align(relative, flex, space-between, stretch);
        width: 90vw;
        height: auto;

        @include responsive.screen_tablet {
            flex-direction: column;
            align-items: center;
            width: 83%;
        }

        .container-title {
            width: 30vw;
            min-height: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            @include responsive.screen_tablet {
                width: 100%;
            }

            .box {
                position: sticky;
                top: 20vh;

                h1 {
                    top: 20vh;
                    font-size: 6vmax;
                    letter-spacing: 3px;
                    font-family: var.$font_Primary;
                    color: var.$Color_White_B9;

                    @include responsive.screen_small {
                        font-size: 50px;
                    }
                }

                p {
                    width: 20vw;
                    font-size: 2vmax;
                    letter-spacing: 2px;
                    line-height: 1.1;
                    font-family: var.$font_Primary;
                    color: var.$Color_White_B9;
                    margin: 5vh 0;

                    @include responsive.screen_small {
                        font-size: 25px;
                        width: inherit;
                    }
                }

                button {
                    position: relative;
                    width: auto;
                    height: auto;
                    padding: 0.5vmax 3vmax;
                    background-color: transparent;
                    font-size: 1.9vmax;
                    border: 0.1vw solid var.$Color_White_B9;
                    border-radius: 10vw;
                    font-family: var.$font_Secondary;
                    color: var.$Color_White_B9;
                    transition: var.$Transition_ease;
                    overflow: hidden;
                    cursor: pointer;

                    @include responsive.screen_laptop {
                        font-size: 3vmax;
                        padding-left: 30px;
                    }
                    @include responsive.screen_small {
                        font-size: 22px;
                        padding: 15px 50px;
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        width: 2vw;
                        height: 2vw;
                        border-radius: 50%;
                        top: 50%;
                        left: 6%;
                        transform: translate(-50%, -50%);
                        background-color: var.$Secundary_Color;
                        mix-blend-mode: difference;
                        transition: var.$Transition_ease;

                        @include responsive.screen_laptop {
                            width: 30px;
                            height: 30px;
                        }
                        @include responsive.screen_small {
                            width: 40px;
                            height: 40px;
                            left: 9%;
                        }
                    }

                    &:hover::after {
                        left: 94%;
                        transition: var.$Transition_ease;

                        @include responsive.screen_small {
                            left: 93%;
                        }
                    }

                    &:hover {
                        background-color: var.$Secundary_Color;
                        color: var.$gray_primary;
                        transition: var.$Transition_ease;
                        border-color: var.$Secundary_Color;
                    }
                }
            }
        }

        .tecnologias {
            position: relative;
            width: 60vw;
            height: auto;
            overflow: hidden;

            @include responsive.screen_tablet {
                width: 100%;
                margin-top: 50px;
            }

            .layers {
                @include mixins.align(relative, flex, space-between, stretch);
                width: 100%;
                height: auto;
                padding: 3vh 0;
                border-bottom: 0.1vw solid var.$gray_Secundary_Color;

                span {
                    font-size: 8vmax;
                    font-family: var.$font_Secondary;
                    color: var.$gray_Secundary_Color;
                    transition: var.$Transition_ease;

                    @include responsive.screen_small {
                        font-size: 50px;
                    }
                }

                &:hover span {
                    padding-left: 5vw;
                    transform: skew(-20deg);
                    color: var.$Color_White_B9;
                    transition: var.$Transition_ease;
                }
            }
        }
    }
}