@use '/src/Components/sass/components';
@use '/src/Components/sass/key-Frames';
@use '/src/Components/sass/responsive';
@use '/src/Components/sass/mixins';
@use '/src/Components/sass/variables' as var;


.tecnology-container {
    @include mixins.align(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding-top: 20vh;
    overflow: hidden;

    .tittle {
        @include mixins.align(relative, flex, space-around, center);
        flex-direction: row-reverse;
        width: 90vw;
        height: auto;
        padding: 20vh 5vmax;

        @include responsive.screen_small {
            padding: 0;
            margin: 120px 0;
        }

        h1 {
            font-size: 7vmax;
            font-weight: 500;
            color: var.$Color_White_B9;
            font-family: var.$font_Primary;
            letter-spacing: 3px;

            @include responsive.screen_small {
                text-align: center;
                font-size: 40px;
            }
        }

        svg{
            width: 20vw;

            @include responsive.screen_small {
                width: 120px;
            }

            .stroke{
                stroke: var.$Color_White_B9;
                fill: none;
                stroke-miterlimit: 2;
                stroke-width: 2px;
                stroke: var.$Secundary_Color;
            }
        }
    }

    .row {
        @include mixins.align(relative, flex, center, center);
        flex-direction: column;
        width: 100vw;
        height: auto;

        .layers {
            @include mixins.align(relative, flex, space-evenly, center);
            width: 90vw;
            height: auto;
            flex-wrap: wrap;
            will-change: transform;

            .card {
                @include mixins.align(relative, flex, space-between, center);
                width: auto;
                height: auto;
                margin: 1vmax;
                padding: 1vmax 2.5vmax;
                border: 1px solid var.$Color_White_B9;
                border-radius: 50px;
                background-color: transparent;
                transition: var.$Transition_ease;
                will-change: transform;

                @include responsive.screen_small {
                    padding: 7px 20px;
                    margin: 10px;
                }

                &:nth-child(1) {

                    &:hover {
                        background-color: var.$HTML;
                        border-color: var.$HTML;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(2) {

                    &:hover {
                        background-color: var.$CSS;
                        border-color: var.$CSS;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(3) {

                    &:hover {
                        background-color: var.$SASS;
                        border-color: var.$SASS;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(4) {

                    &:hover {
                        background-color: var.$REACT;
                        border-color: var.$REACT;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(5) {

                    &:hover {
                        background-color: var.$JS;
                        border-color: var.$JS;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(6) {

                    &:hover {
                        background-color: var.$TS;
                        border-color: var.$TS;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(7) {

                    &:hover {
                        background-color: var.$PHP;
                        border-color: var.$PHP;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(8) {

                    &:hover {
                        background-color: var.$GIT;
                        border-color: var.$GIT;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(9) {

                    &:hover {
                        background-color: var.$VERCEL;
                        border-color: var.$VERCEL;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(10) {

                    &:hover {
                        background-color: var.$FIGMA;
                        border-color: var.$FIGMA;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(11) {

                    &:hover {
                        background-color: var.$SQL;
                        border-color: var.$SQL;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(12) {

                    &:hover {
                        background-color: var.$JAVA;
                        border-color: var.$JAVA;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(13) {

                    &:hover {
                        background-color: var.$TAILWIND;
                        border-color: var.$TAILWIND;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(14) {

                    &:hover {
                        background-color: var.$BOOSTRAP;
                        border-color: var.$BOOSTRAP;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                &:nth-child(15) {

                    &:hover {
                        background-color: var.$MATERIALIZE;
                        border-color: var.$MATERIALIZE;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 1s linear infinite forwards;
                        animation: vibrate-3 1s linear infinite forwards;
                    }
                }

                .icon-tec {
                    @include mixins.align(relative, flex, center, center);
                    width: inherit;
                    height: auto;

                    img {
                        margin-right: 1.1vmax;
                        width: 2.5vw;
                        height: auto;
                        object-fit: cover;
                        filter: grayscale(100%);
                        transition: var.$Transition_ease;

                        @include responsive.screen_tablet {
                            width: 30px;
                        }
                    }
                }

                &:hover img {
                    filter: grayscale(0%);
                    transition: var.$Transition_ease;
                }

                .card-text {
                    position: relative;
                    width: inherit;
                    height: auto;
                    text-align: center;

                    span {
                        font-size: 2vmax;
                        letter-spacing: 2px;
                        color: var.$Color_White_B9;
                        font-family: var.$font_Primary;

                        @include responsive.screen_tablet {
                            font-size: 18px;
                        }
                    }
                }

                &:hover span{
                    color: var.$Color_White;
                }
            }
        }

        .text-large{
            @include mixins.align(relative, flex, center, center);
            flex-direction: column;
            width: 90vw; 
            height: auto;
            padding-top: 30vh;

            span{
                width: inherit;
                margin: 1vmax 0;
                font-size: 7vmax;
                text-align: end;
                color: var.$Color_White_B9;
                font-family: var.$font_Tertiary;

                @include responsive.screen_small {
                    font-size: 42px;
                    width: 95%;
                    margin: 10px 0;
                }

                &:nth-child(2){
                    color: transparent;
                    -webkit-text-stroke: 0.1vw var.$Secundary_Color;
                }
            }
        }
    }
}