@use '/src/Components/sass/components';
@use '/src/Components/sass/key-Frames';
@use '/src/Components/sass/responsive';
@use '/src/Components/sass/mixins';
@use '/src/Components/sass/variables' as var;


.tecnology-container {
    @include mixins.align(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding-bottom: 20vh;
    overflow: hidden;

    .boll-bg{
        position: absolute;
        top: 30vh;
        right: 70vw;
        width: 55vw;
        height: 55vw;
        border: 2px solid var.$Color_White_Smoker_dwo;
        border-radius: 50%;
        animation: girar_left 30s linear infinite;
       

        @include responsive.screen_laptop{
            right: 60%;
            width: 650px;
            height: 650px;
        }

        .icon-park-outline--loading {
            @include mixins.formatting-icon(inherit, inherit, var.$Color_White_Smoker);
            --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.1'%3E%3Cpath d='M4 24c0 11.046 8.954 20 20 20v0c11.046 0 20-8.954 20-20S35.046 4 24 4'/%3E%3Cpath d='M36 24c0-6.627-5.373-12-12-12s-12 5.373-12 12s5.373 12 12 12v0'/%3E%3C/g%3E%3C/svg%3E");
        }

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 20%;
            right: 0;
            bottom: 0;
            width: 7vw;
            height: 7vw;
            background-color: transparent;
            backdrop-filter: blur(10px);
            border: 1px solid var.$Color_White;
            border-radius: 50%;
            z-index: 0;

            @include responsive.screen_laptop{
                width: 100px;
                height: 100px;
                left: 15%;
            }
        }

        &::after{
            content: '';
            position: absolute;
            left: 20%;
            right: 0;
            bottom: 0;
            width: 7vw;
            height: 7vw;
            background-color: transparent;
            backdrop-filter: blur(10px);
            border: 1px solid var.$Color_White;
            border-radius: 50%;
            z-index: 0;

            @include responsive.screen_laptop{
                width: 100px;
                height: 100px;
                left: 15%;
            }
        }
      
    }

    .tittle {
        position: relative;
        width: inherit;
        height: auto;
        margin: 30vh 0;
        padding-right: 8vmax;

        @include responsive.screen_small {
            padding: 0;
            margin: 120px 0;
        }

        h1 {
            text-align: end;
            font-size: 7vmax;
            font-weight: 500;
            color: var.$Color_White_B9;
            font-family: var.$font_Primary;
            letter-spacing: 3px;

            @include responsive.screen_small {
                text-align: center;
                font-size: 40px;
            }
        }
    }

    .row {
        @include mixins.align(relative, flex, center, center);
        width: 100vw;
        height: auto;

        .layers {
            @include mixins.align(relative, flex, space-evenly, center);
            width: 90vw;
            height: auto;
            flex-wrap: wrap;

            @include responsive.screen_small{
                justify-content: space-evenly;
            }

            .card {
                @include mixins.align(relative, flex, center, center);
                flex-direction: column;
                width: 25vw;
                height: 20vmax;
                margin: 2vmax;
                padding: 2vmax 0;
                border: 1px solid var.$Color_White_B9;
                border-radius: 10px;
                background-color: var.$gray_primary;
                transition: var.$Transition_ease;
                overflow: hidden;

                @include responsive.screen_tablet{
                    width: 250px;
                    height: 200px;
                }
                @include responsive.screen_small{
                    margin: 15px 15px;
                }

                &:nth-child(1) {

                    &:hover {
                        background-color: var.$HTML;
                        transition: var.$Transition_ease;
                        -webkit-animation: wobble-ver-left 0.8s both;
                        animation: wobble-ver-left 0.8s both;
                    }
                }

                &:nth-child(2) {

                    &:hover {
                        background-color: var.$CSS;
                        transition: var.$Transition_ease;
                        -webkit-animation: wobble-hor-bottom 0.8s both;
                        animation: wobble-hor-bottom 0.8s both;
                    }
                }

                &:nth-child(3) {

                    &:hover {
                        background-color: var.$SASS;
                        transition: var.$Transition_ease;
                        -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    }
                }

                &:nth-child(4) {

                    &:hover {
                        background-color: var.$REACT;
                        transition: var.$Transition_ease;
                        -webkit-animation: shake-right 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                        animation: shake-right 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    }
                }

                &:nth-child(5) {

                    &:hover {
                        background-color: var.$JS;
                        transition: var.$Transition_ease;
                        -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    }
                }

                &:nth-child(6) {

                    &:hover {
                        background-color: var.$TS;
                        transition: var.$Transition_ease;
                        -webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                        animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    }
                }

                &:nth-child(7) {

                    &:hover {
                        background-color: var.$PHP;
                        transition: var.$Transition_ease;
                        -webkit-animation: wobble-hor-top 0.8s both;
                        animation: wobble-hor-top 0.8s both;
                    }
                }

                &:nth-child(8) {

                    &:hover {
                        background-color: var.$GIT;
                        transition: var.$Transition_ease;
                        -webkit-animation: jello-horizontal 0.9s both;
                        animation: jello-horizontal 0.9s both;
                    }
                }

                &:nth-child(9) {

                    &:hover {
                        background-color: var.$VERCEL;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 0.5s linear infinite both;
                        animation: vibrate-3 0.5s linear infinite both;
                    }
                }

                &:nth-child(10) {

                    &:hover {
                        background-color: var.$FIGMA;
                        transition: var.$Transition_ease;
                        -webkit-animation: wobble-hor-top 0.8s both;
                        animation: wobble-hor-top 0.8s both;
                    }
                }

                &:nth-child(11) {

                    &:hover {
                        background-color: var.$SQL;
                        transition: var.$Transition_ease;
                        -webkit-animation: shake-right 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                        animation: shake-right 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    }
                }

                &:nth-child(12) {

                    &:hover {
                        background-color: var.$JAVA;
                        transition: var.$Transition_ease;
                        -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    }
                }

                &:nth-child(13) {

                    &:hover {
                        background-color: var.$TAILWIND;
                        transition: var.$Transition_ease;
                        -webkit-animation: vibrate-3 0.5s linear infinite both;
                        animation: vibrate-3 0.5s linear infinite both;
                    }
                }

                &:nth-child(14) {

                    &:hover {
                        background-color: var.$BOOSTRAP;
                        transition: var.$Transition_ease;
                        -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    }
                }

                &:nth-child(15) {

                    &:hover {
                        background-color: var.$MATERIALIZE;
                        transition: var.$Transition_ease;
                        -webkit-animation: wobble-ver-left 0.8s both;
                        animation: wobble-ver-left 0.8s both;
                    }
                }

                .icon-tec {
                    @include mixins.align(relative, flex, center, center);
                    width: inherit;
                    height: 12vmax;

                    img {
                        margin-bottom: 1.1vmax;
                        width: 7vw;
                        object-fit: cover;
                        filter: grayscale(100%);
                        transition: var.$Transition_ease;

                        @include responsive.screen_tablet{
                            width: 70px;
                        }
                    }
                }

                &:hover img {
                    filter: grayscale(0%);
                    transition: var.$Transition_ease;
                }

                .card-text {
                    position: relative;
                    width: inherit;
                    height: auto;
                    text-align: center;

                    span {
                        font-size: 3vmax;
                        color: var.$Color_White_B9;
                        font-family: var.$font_Primary;

                        @include responsive.screen_tablet{
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}