@use '/src/sass/animate';
@use '/src/sass/responsive';
@use '/src/sass/mixins';
@use '/src/sass/variables' as var;

.banner_about {
    @include mixins.align(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding-top: 15vh;
    overflow: hidden;

    .imgs_banners {
        @include mixins.align(absolute, flex, space-between, center);
        top: 15vh;
        width: 85vw;
        height: auto;

        @include responsive.screen_small() {
            display: none;
        }

        img {
            width: 15vw;
            height: auto;
            object-fit: cover;
            filter: grayscale(100%);
            border-radius: 1vmax;
            transition: var.$Transition_ease;
            animation: fade 3s ease;

            &:nth-child(1) {
                transform: rotate(-15deg) translateY(15vh);
            }

            &:nth-child(2) {
                transform: rotateZ(-10deg) translateY(80vh);
            }

            &:nth-child(3) {
                transform: rotate(15deg) translateY(-5vh);
            }

            &:hover {
                filter: grayscale(0%);
                transition: var.$Transition_ease;
            }
        }
    }

    .banner_word {
        @include mixins.align(relative, flex, center, center);
        flex-direction: column;
        width: inherit;
        height: auto;
        margin-bottom: 10vmax;
        overflow: hidden;

        span {
            @include mixins.animate();
            width: inherit;
            height: auto;
            margin: 0.6vmax 0;
            font-size: 10vmax;
            font-family: var.$font_Primary;
            transition: var.$Transition_ease;
            color: var.$Color_White_B9;
            mix-blend-mode: difference;

            @include responsive.screen_small {
                font-size: 65px;
                margin: 35px 0;
            }

            &:nth-child(1) {
                text-align: start;
                padding-left: 4%;
                animation: left 2s ease;
            }

            &:nth-child(2) {
                text-align: center;
                padding-left: 7%;
                animation: right 2s ease;

                @include responsive.screen_small {
                    padding: 0;
                }
            }

            &:nth-child(3) {
                text-align: start;
                padding-left: 6%;
                animation: rotateX 2s ease;
                color: transparent;
                -webkit-text-stroke: 0.1vw var.$Secundary_Color;
            }

            &:nth-child(4) {
                text-align: end;
                padding-right: 8%;
                animation: rotateZ 2s ease;

            }

            &:nth-child(5) {
                position: relative;
                margin-top: -1%;
                text-align: start;
                padding-left: 15%;
                animation: left 2s ease;
            }

            &:nth-child(6) {
                position: relative;
                text-align: end;
                padding-right: 13%;
                animation: right 2s ease;

                @include responsive.screen_small {
                    padding-right: 20px;
                }
            }
        }

        svg {
            position: absolute;
            top: 0;
            left: 60%;
            animation: girar_left 15s linear infinite;
        }
    }
}