@use '/src/sass/animate';
@use '/src/sass/responsive';
@use '/src/sass/mixins';
@use '/src/sass/variables' as var;

.tecnology-container {
    @include mixins.align(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin-top: 20vh;
    padding-top: 20vh;

    @include responsive.screen_tablet {
        margin: 0;
    }

    .row {
        @include mixins.align(relative, flex, space-between, stretch);
        width: 90vw;
        height: auto;

        @include responsive.screen_tablet {
            flex-direction: column;
            align-items: center;
            width: 83%;
        }

        .container-title {
            width: 30vw;
            min-height: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            @include responsive.screen_tablet {
                width: 100%;
            }

            .box {
                position: sticky;
                top: 20vh;

                h1 {
                    top: 20vh;
                    font-size: 6vmax;
                    letter-spacing: 3px;
                    font-family: var.$font_Primary;
                    color: var.$Color_White_B9;

                    @include responsive.screen_small {
                        font-size: 40px;
                    }
                }

                p {
                    width: 20vw;
                    font-size: 2vmax;
                    letter-spacing: 2px;
                    line-height: 1.1;
                    font-family: var.$font_Primary;
                    color: var.$Color_White_B9;
                    margin: 5vh 0;

                    @include responsive.screen_small {
                        font-size: 22px;
                        width: inherit;
                    }
                }

                button {                  
                    @include mixins.btn();           
                }
            }
        }

        .tecnologias {
            position: relative;
            width: 60vw;
            height: auto;

            @include responsive.screen_tablet {
                width: 100%;
                margin-top: 50px;
            }

            .layers {
                @include mixins.align(relative, flex, space-between, stretch);
                width: 100%;
                height: auto;
                padding: 3vh 0;
                border-bottom: 0.1vw solid var.$gray_Secundary_Color;
                will-change: transform;

                span {
                    font-size: 8vmax;
                    font-family: var.$font_Secondary;
                    color: var.$gray_Secundary_Color;
                    transition: var.$Transition_ease;

                    @include responsive.screen_small {
                        font-size: 50px;
                    }
                }

                &:hover span {
                    padding-left: 5vw;
                    transform: skew(-20deg);
                    color: var.$Color_White_B9;
                    transition: var.$Transition_ease;
                }

                .box-img{
                    @include mixins.align(absolute, flex, center, center);
                    top: -5vw;
                    left: 33vw;
                    right: 0;
                    bottom: 0;
                    width: 20vw;
                    height: 20vw;
                    border-radius: 10%;
                    pointer-events: none;
                    will-change: transform;

                    @include responsive.screen_small{
                        display: none;
                    }

                    img{
                        position: relative;
                        width: 12vw;
                        object-fit: cover;
                    }
                }
                .box-html{
                    background-color: var.$HTML;
                }
                .box-css{
                    background-color: var.$CSS;
                }
                .box-sass{
                    background-color: var.$SASS;
                }
                .box-react{
                    background-color: var.$REACT;
                }
                .box-javascript{
                    background-color: var.$JS;
                }
                .box-typescript{
                    background-color: var.$TS;
                }
                .box-php{
                    background-color: var.$PHP;
                }
                .box-git{
                    background-color: var.$GIT;
                }
                .box-vercel{
                    background-color: var.$VERCEL;
                }
                .box-figma{
                    background-color: var.$FIGMA;
                }
                .box-sql{
                    background-color: var.$SQL;
                }
                .box-java{
                    background-color: var.$JAVA;
                }
                .box-tailwind{
                    background-color: var.$TAILWIND;
                }
                .box-bootstrap{
                    background-color: var.$BOOTSTRAP;
                }
                .box-materialize{
                    background-color: var.$MATERIALIZE;
                }
            }
        }
    }
}