@use '/src/Components/sass/responsive';
@use '/src/Components/sass/mixins';
@use '/src/Components/sass/variables' as var;


.contate-container{
    @include mixins.align(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin: 10vh 0 20vh 0;
    overflow: hidden;

    @include responsive.screen_small {
        margin: 70px 0;
    }

    span{
        width: 90vw;
        margin: 0.5vmax 0;
        font-size: 5vmax;
        text-align: start;
        color: var.$Color_White_B9;
        font-family: var.$font_Tertiary;
        letter-spacing: 3px;
        text-wrap: nowrap;

        @include responsive.screen_small {
            font-size: 40px;
            width: 85vw;
            margin: 10px 0;
        }

        &:nth-child(4){
            color: transparent;
            -webkit-text-stroke: 0.1vw var.$Secundary_Color;
        }
    }

    .o-ui-arrow{
        position: absolute;
        left: 70%;
        width: 10vw;
        height: auto;
        color: var.$Color_White_B9;
        transform: rotate(100deg);
        transition: var.$Transition_ease;
        will-change: transform;

        @include responsive.screen_laptop{
            width: 130px;
        }
        @include responsive.screen_small{
            width: 70px;
        }

        &:hover{
            transform: rotate(45deg) scale(1.2);
            transition: var.$Transition_ease;
        }
    }
}
