@use '/src/Components/sass/responsive';
@use '/src/Components/sass/variables' as var;

.sound-container{
    position: fixed;
    width: auto;
    height: auto;
    left: -3.5vmax;
    bottom: 4vmax;
    z-index: 9; 

    @include responsive.screen_laptop{
        left: -45px;
        bottom: 60px;
    }
    @include responsive.screen_small{
        left: -50px;
    }

    .sound{
        position: relative;
        display: block;
        width: auto;
        height: auto;
        padding: 1vmax;
        transform: rotate(-90deg);                   
        pointer-events: all;
        cursor: pointer;  

        span{
            font-size: 1.2vmax;
            font-family: var.$font_Primary;
            letter-spacing: 2px;
            color: var.$Color_White;

            @include responsive.screen_laptop{
                font-size: 17px;
            }
        }
    }
}