@use '/src/Components/sass/variables' as var;

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var.$Color_Smoker;
    backdrop-filter: blur(15px);
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 99;

    &.showBackdrop{
        opacity: 1;
    }
}