@use '/src/Components/sass/components';
@use '/src/Components/sass/key-Frames';
@use '/src/Components/sass/mixins';
@use '/src/Components/sass/responsive';
@use '/src/Components/sass/variables' as var;

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%) translateY(-100vh);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999;
    opacity: 0.5;
    overflow-y: scroll;

    background-color: rgba(238, 232, 170, 0);

    &.animated_modal {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }

    .closer {
        @include mixins.align(fixed, flex, end, end);
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 3vh 2vw;
        z-index: 9999;
        background-color: rgba(255, 0, 0, 0);

        i {
            font-size: 3vmax;
            color: var.$gray_primary;
            background-color: var.$Secundary_Color;
            transition: var.$Transition_ease;
            padding: 1.2vmax 1.5vmax;
            border-radius: 10px;
            margin-left: 90%;

            cursor: pointer;

            &:hover {
                background-color: var.$gray_primary;
                transition: var.$Transition_ease;
                color: var.$Secundary_Color;
            }
        }
    }

    .row {
        position: relative;
        width: 100%;
        height: 100%;

        background-color: rgba(8, 155, 3, 0);

        .project_text_linear {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: auto;
            white-space: nowrap;
            pointer-events: none;
            animation: fade 3s ease;
            will-change: transform;
            pointer-events: none;

            h1 {
                position: relative;
                display: inline-block;
                font-size: 20vmax;
                color: transparent;
                font-family: var.$font_Tertiary;
                -webkit-text-stroke: 0.1vw var.$Secundary_Color;
                animation: slider-linear 30s linear infinite;
                will-change: transform;

                @include responsive.screen_small {
                    -webkit-text-stroke: 1px var.$Secundary_Color;
                }
            }

            .layer_img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: auto;
                height: auto;
                z-index: -1;

                img {
                    position: relative;
                    width: 30vw;
                    height: auto;
                    border-radius: 1vmax;
                }
            }
        }

        .box {
            @include mixins.align(relative, flex, center, center);
            flex-direction: column;
            width: 100vw;
            height: 130vh;

            background-color: rgba(102, 51, 153, 0);

            .layer {
                position: relative;
                width: 60vw;
                height: 80vh;
                margin-top: 80vh;

                background-color: rgba(0, 255, 255, 0);

                .box_1 {
                    @include mixins.align(relative, flex, space-between, center);
                    width: inherit;
                    height: auto;
                    border-bottom: 0.2vw solid var.$Color_White_B9;

                    background-color: rgba(240, 255, 255, 0);

                    a {
                        font-size: 1.4vmax;
                        font-family: var.$font_Primary;
                        letter-spacing: 1px;
                        padding: 2vmax 1vmax;
                        text-decoration: none;
                        color: var.$Color_White_B9;
                        cursor: pointer;

                        background-color: rgba(102, 51, 153, 0);

                        &:hover {
                            color: var.$Secundary_Color;
                        }
                    }

                    .detals {
                        @include mixins.align(relative, flex, space-between, center);
                        width: 20vw;
                        height: auto;
                        padding: 2vmax 1vmax;
                        background-color: rgba(102, 51, 153, 0);

                        span {
                            font-size: 1.4vmax;
                            font-family: var.$font_Primary;
                            letter-spacing: 1px;
                            color: var.$Color_White_B9;
                        }

                        i {
                            font-size: 0.5vmax;
                            color: var.$Color_White_B9;
                        }
                    }
                }

                .box_2 {
                    @include mixins.align(relative, flex, space-between, center);
                    width: inherit;
                    height: 100%;

                    background-color: rgba(255, 0, 0, 0);

                    .tecnology {
                        position: relative;
                        width: 50%;
                        height: 100%;
                        background-color: rgba(0, 255, 255, 0);

                        h1 {
                            width: initial;
                            font-family: var.$font_Secondary;
                            letter-spacing: 2px;
                            font-size: 2.2vmax;
                            color: var.$Color_White_B9;
                            padding: 5vh 0;

                            background-color: rgba(205, 92, 92, 0);
                        }

                        span {
                            display: block;
                            width: initial;
                            margin: 1vmax 0;
                            font-family: var.$font_Primary;
                            letter-spacing: 2px;
                            font-size: 1.9vmax;
                            color: var.$Color_White_B9;

                            &:nth-child(1) {
                                &:hover {
                                    color: var.$HTML;
                                }
                            }

                            &:nth-child(2) {
                                &:hover {
                                    color: var.$CSS;
                                }
                            }

                            &:nth-child(3) {
                                &:hover {
                                    color: var.$SASS;
                                }
                            }

                            &:nth-child(4) {
                                &:hover {
                                    color: var.$REACT;
                                }
                            }

                            &:nth-child(5) {
                                &:hover {
                                    color: var.$JS;
                                }
                            }

                            &:nth-child(6) {
                                &:hover {
                                    color: var.$VERCEL ;
                                }
                            }
                        }
                    }

                    .description {
                        position: relative;
                        width: 50%;
                        height: 100%;
                        padding-top: 10vh;

                        background-color: rgba(21, 255, 0, 0);

                        p {
                            font-size: 2vmax;
                            margin: 1vmax 0;
                            font-family: var.$font_normal;
                            font-size: 1.5vmax;
                            text-indent: 100px;
                            text-align: justify;
                            color: var.$Color_White_B9;
                        }
                    }
                }
            }
        }
    }
}