@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.sound_container {
    position: fixed;
    left: -4vmax;
    bottom: 6vmax;
    transform: rotate(-90deg);
    z-index: 9;

    @include responsive.screen_laptop {
        left: -50px;
        bottom: 80px;
    }

    @include responsive.screen_small {
        left: -60px;
    }

    .sound {
        padding: 1vmax;
        pointer-events: all;
        cursor: pointer;

        span {
            text-align: center;
            font-size: 1.2vmax;
            font-family: var.$font_Primary;
            letter-spacing: 2px;
            color: var.$Color_White;

            @include responsive.screen_laptop {
                font-size: 17px;
            }

            &.colorBottom {
                color: var.$gray_primary;
            }
        }

        &:hover {
            span {
                color: var.$Secundary_Color;
            }
        }
    }
}