@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.sound_container {
    @include mixins.align(fixed, flex, center, center);
    left: -4.5vmax;
    bottom: 4vmax;
    width: 13vmax;
    height: 4vmax;
    transform: rotate(-90deg);
    z-index: 9;
    cursor: pointer;

    @include responsive.screen_large {
        left: -50px;
        bottom: 70px;
    }

    @include responsive.screen_laptop {
        width: 200px;
        left: -65px;
    }

    @include responsive.screen_small {
        height: 40px;
        left: -80px;
    }

    span {
        text-align: center;
        font-size: 1.2vmax;
        font-family: var.$font_Primary;
        letter-spacing: 2px;
        color: var.$Color_White;

        @include responsive.screen_laptop {
            font-size: 17px;
        }
    }

    &:hover {
        span {
            color: var.$Secundary_Color;
        }
    }
}