@use '/src/Components/sass/components';
@use '/src/Components/sass/responsive';
@use '/src/Components/sass/mixins';
@use '/src/Components/sass/variables' as var;


.about-container{
    @include mixins.align(relative, flex, center, center);
    flex-direction: column;
    padding: 15vh 0 15vh 0;
    width: 100vw;
    height: auto;
    overflow: hidden;

    .word-row-1{
        position: relative;
        width: inherit;
        height: auto;

        span{
            position: relative;
            display: block;
            width: inherit;
            height: auto;
            margin: 1vmax;
            font-size: 10vmax;
            font-family: var.$font_Primary;
            color: var.$Color_White_B9;
    
            @include responsive.screen_small{
                font-size: 60px;
                margin: 30px 0;
            }
    
            &:nth-child(1){
                text-align: start;
                padding-left: 4%;
    
                svg{
                    position: absolute;
                    top: -30%;
                    left: 70%;
                    animation: girar_left 15s linear infinite;
                }
            }
            &:nth-child(2){
                text-align: center;
                padding-left: 7%;
            }
            &:nth-child(3){
                text-align: start;
                padding-left: 3%;
            }
            &:nth-child(4){
                text-align: end;
                padding-right: 8%;
            }
            &:nth-child(5){
                position: relative;
                margin-top: -1%;
                text-align: start;
                padding-left: 15%;
            }
            &:nth-child(6){
                position: relative;
                text-align: end;
                padding-right: 13%;
                
                @include responsive.screen_small{
                    padding-right: 20px;
                }
            }
        }
    }

    .word-row-2{
        position: relative;
        margin-top: 15vh;
        width: inherit;
        height: auto;

        span{
            position: relative;
            display: block;
            width: inherit;
            height: auto;
            margin: 1vmax;
            font-size: 10vmax;
            font-family: var.$font_Primary;
            color: var.$Color_White_B9;

            @include responsive.screen_small{
                   font-size: 55px;
                   margin: 30px 0;
               }

            &:nth-child(1){
                left: 2%;

                @include responsive.screen_small{
                    left: 30px;
                }
            }
            &:nth-child(2){
                text-align: end;
                right: 3%;

                @include responsive.screen_small{
                    right: 7%;
                }
            }
            &:nth-child(3){
                text-align: center
            }
            &:nth-child(4){
                top: 2vh;
                left: 15%;

                @include responsive.screen_small{
                    top: 0;
                    left: 30px;
                }
            }
        }
    }

    .about-info{
        @include mixins.align(relative, flex, space-around, center);
        width: 80vw;
        height: 100vh;
       
        @include responsive.screen_laptop{
            margin-top: 70px;
            flex-direction: column;
            justify-content: center;
            height: auto;
        }
        @include responsive.screen_small{
            margin-top: 30%;
        }

        img{
            width: 30%;
            border-radius: 2vmax;

            @include responsive.screen_small{
                width: 220px;
            }
        }

        .about-description{
            position: relative;
            top: 15vh;
            width: 50%;

            @include responsive.screen_laptop{
                width: 90vw;
            }

            h1{
                color: var.$Color_White_B9;
                text-align: center;

                @include responsive.screen_small{
                    margin: 30px 0 30px 0;
                }
            }     

            p{
                font-size: 1.3vmax;
                color: var.$Color_White_B9;
                font-family: "Ubuntu", sans-serif;
                font-weight: 400;
                line-height: 1.5;
                margin: 3%;

                @include responsive.screen_laptop{
                    font-size: 15px;
                    text-align: center;
                }      
                @include responsive.screen_small{
                    font-size: 17px;
                }

                a{
                    color: var.$Secundary_Color;
                    text-decoration: none;
                    font-style: italic;
                    cursor: pointer;
                }
            }

            h3{
                text-align: center;
                color: var.$Color_White_B9;

                @include responsive.screen_small{
                    margin: 30px 0 30px 0;
                }
            }
        }
    }

    .cicle-animate{
        position: relative;
        margin: 5% 0 0 50%;

        @include responsive.screen_laptop{
           margin: 200px 0 0 0;
        }
        @include responsive.screen_small{
            margin-top: 130px;
        }

        a{
            display: flex;
            width: 12vmax;
            height: auto;

            @include responsive.screen_laptop{
                width: 180px;
            }
            @include responsive.screen_small{
                width: 150px;
            }

            svg{
                width: 100%;
                pointer-events: none;
            }

            text{
                font-size: 7vmax;
                font-family: var.$font_Primary;
                -webkit-animation: flicker 2s linear infinite both;
                animation: flicker 2s linear infinite both;
            }
        }
    }
}
