@use '/src/sass/variables' as var;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
    width: 0;  
    display: none;
    scroll-behavior: smooth; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
} 
body{  
    background: url('/assets/svg/background.svg') var.$gray_primary;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100lvh !important;
}