@use '/src/sass/variables' as var;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
    width: 0;  
    display: none;
    scroll-behavior: smooth; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
} 

html {
  // A variável --vh é definida aqui pelo JS, mas é bom ter um fallback
  // para browsers que não rodem o JS ou por algum motivo
  --vh: 1vh; // Fallback default
}

body{  
    background: url('/assets/svg/background.svg') var.$gray_primary;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: calc(var(--vh) * 100);
}