@use '/src/sass/variables' as var;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    --vh: 1vh;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: calc(var(--vh) * 100);
    background-color: var.$gray_primary;
  //  overflow: hidden;
}

.fixed-background-image {
    position: fixed;
    background: url("/assets/svg/background.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--vh) * 100);
    z-index: -1;
}

#root {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
}