@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.button_top {
    position: fixed;    
    right: 0;
    bottom: 0;
    opacity: 0;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    transition: var.$Transition_ease;
    z-index: 1;

    @include responsive.screen_small{ 
        margin-right: 10px;
        margin-bottom: 20px;
    } 

    &.colorBottom{
        i{
            color: var.$gray_primary;
        }
    }
    
    a{
        position: relative;     
        width: auto;
        height: auto;
        display: grid;
        place-content: center;
        padding: 1vmax;
        cursor: pointer;

        i{
            font-size: 2.3vmax;
            color: var.$Color_White_B9; 
            pointer-events: none;

            @include responsive.screen_laptop{
                font-size: 30px;
            }
        }
    }
}