@use '/src/Components/sass/components';
@use '/src/Components/sass/responsive';
@use '/src/Components/sass/mixins';
@use '/src/Components/sass/variables' as var;

.certificados-container {
    @include mixins.align(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin: 0 0 20vh 0;
    overflow: hidden;

    @include responsive.screen_small{
        margin-top: 150px;
    }

    .word-big{
        position: relative;
        width: 90vw;
        height: auto;
        overflow: hidden;

        span{
            display: block;
            font-size: 10vmax;
            color: var.$Color_White_B9;
            font-family: var.$font_Primary;
            letter-spacing: 2px;
            word-break: break-all;

            &:nth-child(1){
                text-align: start;
            }
            &:nth-child(2){
                text-align: end;
                color: transparent;
                font-size: 5vmax;
                -webkit-text-stroke: 0.1vw var.$Secundary_Color;
            }
            &:nth-child(3){
                text-align: end;
                padding-right: 7vw;
            }

            @include responsive.screen_small {
                font-size: 50px;
                margin: 35px 0;
            }
        }
    }

    .row {
        @include mixins.align(relative, flex, center, center);
        flex-direction: column;
        width: 90vw;
        height: auto;
        margin: 30vh 0;

        @include responsive.screen_small{
            margin: 50px 0;
        }

        .layers {
            @include mixins.align(relative, flex, space-between, center);
            width: 100vw;
            padding: 3vh 6vw;
            height: auto;
            border-bottom: 0.1vw solid var.$gray_Secundary_Color;
            will-change: transform;

            @include responsive.screen_small {
                padding: 10px 40px;
            }

            &::after{
                position: absolute;
                content: '';
                top: 0%;
                left: 0%;   
                width: 100vw;
                height: 0%;
                background-color: var.$Secundary_Color;
                transition: 0.3s all;
                pointer-events: none; 
                z-index: -1;                         
            }                       
            &:hover::after{
                height: 100%;
                transition: 0.3s all;
                pointer-events: none;
            }

            .title-project{
                position: relative;
                width: 70vw;
                height: auto;

                @include responsive.screen_small {
                    width: 270px;
                }

                h1 {
                    text-align: start;
                    font-size: 6vmax;
                    color: var.$Color_White_B9;
                    font-family: var.$font_Primary;
                    letter-spacing: 3px;
                    transition: 0.3s all;

                    @include responsive.screen_small {
                        font-size: 35px;
                        margin: 15px 0;
                    }
                }
            }

            &:hover h1{
                color: var.$gray_primary;
                transition: 0.3s all;
                padding-left: 3vw;
                transform: skew(-25deg);
            }

            .certi-icon{
                position: absolute;
                top: 70%;
                left: 60%;
                transform: translate(-50%, -50%);
                pointer-events: none;

                img{
                    width: 25vw;
                    height: auto;
                    pointer-events: none;

                    @include responsive.screen_small{
                        width: 170px;
                    }
                }
            }

            .year{
                position: relative;
                width: 10vw;
                height: auto;

                h1{
                    font-size: 4vmax;
                    font-family: var.$font_Primary;
                    color: var.$gray_primary;
                    transition: 0.3s all;

                    @include responsive.screen_small{
                        display: none;
                    }
                }
            }
        }
    }
}