@use '/src/Components/sass/components';
@use '/src/Components/sass/mixins';
@use '/src/Components/sass/responsive';
@use '/src/Components/sass/variables' as var;

header {
    @include mixins.align(fixed, flex, center, center);
    position: fixed;
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    z-index: 99;
    transition: var.$Transition_ease;
    pointer-events: none;

    @include responsive.screen_tablet_rotate{
        height: 20vh;
    }

    .navbar {
        @include mixins.align(relative, flex, space-between, center);
        width: inherit;
        height: 13vh;
        padding: 1.3vmax 1.1vmax 1.3vmax 1.1vmax;
        text-transform: uppercase;            

        @include responsive.screen_small{
            height: auto;
            padding: 15px 5px 15px 5px;
        }

        .active-bar {
            @include mixins.align(relative, flex, center, baseline);
            flex-direction: column;
            width: auto;
            height: inherit;
            margin: 0 0 0 12px;
            pointer-events: all;
            z-index: 9999;

            a{
                text-decoration: none;

                span {
                    position: relative;
                    display: block;
                    font-size: 1.4vmax;
                    letter-spacing: 1px;
                    color: var.$Color_White;
                    font-family: var.$font_Primary;
    
                    @include responsive.screen_large{
                        font-size: 1.7vw;
                    }
                    @include responsive.screen_laptop{
                        font-size: 20px;
                    }
                    @include responsive.screen_small{
                        font-size: 20px;
                    }
                     
                    .game-icons--polar-star {
                        @include mixins.formatting-icon(1.7vw, 1.7vw, var.$Color_White);
                        animation: girar_left 12s linear infinite;
                        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M255.9 19.77C241.5 109.6 229.4 163 196.2 196.2s-86.6 45.3-176.43 59.7C109.6 270.3 163 282.4 196.2 315.7c33.2 33.2 45.3 86.6 59.7 176.5c14.4-89.9 26.5-143.3 59.7-176.6c33.3-33.2 86.7-45.3 176.6-59.7c-89.9-14.4-143.3-26.5-176.5-59.7c-33.3-33.2-45.4-86.6-59.8-176.43M423 89c-45.8 33.1-81 56.9-112.4 70.2c5.1 9.4 11 17.4 17.8 24.2s14.8 12.7 24.3 17.9c13.4-31.4 37.2-66.6 70.3-112.3m-333.94.06C122.2 134.8 145.9 169.9 159.2 201.2c9.4-5.1 17.4-11 24.2-17.8s12.7-14.8 17.8-24.2c-31.3-13.3-66.4-37-112.14-70.14M352.7 310.5c-9.5 5.2-17.5 11.1-24.3 17.9s-12.7 14.8-17.9 24.3C342 366 377.2 389.8 423 423c-33.2-45.8-57-81-70.3-112.5m-193.5.1C145.9 342 122.1 377.2 89 423c45.7-33.1 80.9-56.9 112.3-70.3c-5.2-9.5-11.1-17.5-17.9-24.3s-14.8-12.7-24.2-17.8'/%3E%3C/svg%3E");
                        pointer-events: none;

                        @include responsive.screen_small{
                            width: 20px;
                            height: 20px;
                        }
                    }                 
                }

                &:hover span{
                    color: var.$Secundary_Color;
                }
                &:hover i{
                    background-color: var.$Secundary_Color;
                }
            }
        }

        .burguer{
            @include mixins.align(relative, flex, center, center);
            flex-direction: column;
            width: auto;
            height: auto;
            padding: 1.5vmax;
            list-style: none;
            transition: var.$Transition_ease;
            z-index: 9999;
            cursor: pointer;
            pointer-events: all;

            span{
                position: relative;
                width: 3vmax;
                height: 0.12vmax;
                margin: 3px 0 3px 0;
                border-radius: 1vmax;
                transform-origin: center center;
                background-color: var.$Color_White;
                transition: var.$Transition_ease;

                @include responsive.screen_small{
                    width: 40px;
                    height: 3px;
                }
                
                &:nth-child(2){
                    width: 2vmax;
                }
            }
        }

        ul{
            @include mixins.align(fixed, flex, center, center);
            top: 0;
            right: 0;
            padding-top: 70px;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            transform: translateY(-120%);
            transition: 1s all ease;
            background-color: var.$gray_primary;
            z-index: 999; 
            opacity: 0;
            pointer-events: all;
            
            @include responsive.screen_tablet_rotate{
                padding: 30px;
                margin: 0;
            }
            @include responsive.screen_small{
                padding-top: 40px;
            }

            li{
                @include mixins.align(relative, flex, center, center);
                width: auto;
                margin-top: 120px;
                margin: 20px;
                padding: 1vmax;
                z-index: 1;

                @include responsive.screen_tablet_rotate{
                    margin: 0;
                    width: 40vw;
                    height: 40vh;        
                }
                @include responsive.screen_small{
                   margin: 10px 0 20px 0;
                }

                &::after{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;   
                    width: 100vw;
                    height: 0%;
                    transform: translate(-50%, -50%);
                    background-color: var.$Secundary_Color;
                    transition: 0.3s all;
                    pointer-events: none; 
                    z-index: -1;                         
                }                       
                &:hover::after{
                    height: 100%;
                    transition: 0.3s all;
                    pointer-events: none;
                }
                
                a{
                    font-size: 15vh;
                    letter-spacing: 2px;           
                    text-decoration: none;
                    text-wrap: nowrap;
                    transform: translateY(-50vh);
                    color: var.$Color_White_B9;
                    font-family: var.$font_Primary;
                    transition: 1s ease;

                    @include responsive.screen_laptop{
                        font-size: 50px;

                        @include responsive.screen_tablet_rotate{                            
                            font-size: 4vmax;
                        }
                    }       
                    @include responsive.screen_small{
                        font-size: 40px;
                    }
                }
                &:hover a{
                    color: var.$gray_primary;
                    transition: 0.5s ease !important;
                }
            }
            
            .midia{
                position: absolute;
                top: 50%;
                padding-left: 0.5vmax;
                left: 0;
                right: 0;
                width: 100vw;
                height: auto;
                z-index: 1;
                pointer-events: none;

                @include responsive.screen_tablet_rotate{
                    top: 40%;
                }
                @include responsive.screen_small{

                    @include mixins.align(relative, flex, center, center);
                    top: 0;
                    margin: 20px 0 0 0;
                }
                
                .linkedin, .git-icon-footer, .instagram, .cv{
                    @include mixins.align(relative, flex, center, center);
                    width: 8vh;
                    height: 8vh;
                    margin: 20px;
                    border-radius: 100%;
                    text-decoration: none;
                    transition: var.$Transition_ease;
                    pointer-events: all;

                    @include responsive.screen_small{
                        margin: 10px;
                        width: 50px;
                        height: 50px;
                        padding: 10px;
                    } 
                    
                    &:hover{
                        transform: scale(1.7);
                    }
                    
                    i{
                        font-size: 5vh;
                        color: var.$Color_White_B9;
                        pointer-events: none;
                    }

                    &:hover i{
                        color: var.$Secundary_Color;
                    }
                }                   
            }
        }
    }
}
/* ======================= CLASSES AUXILIARES ============================*/

.collapse-true {
    transform: translate(0%) !important;
    opacity: 1 !important;
}

.header_aux {
    @include responsive.screen_small{
        background-color: var.$gray_primary !important;
        transition: var.$Transition_ease !important;
    }
}

/*===================== BARRAS QUE FORMAM O BURGUER E A SETA =================*/

.burguer-aux{
    transform: rotate(360deg) !important;
    margin-right: 15px !important;
}

.animate-aux{
    transform: translateY(0) !important;
    transition: 1s ease-out !important;
}

.b-one{
    width: 36px !important;
    height: 3px !important;
    transform: rotate(-30deg) !important;
    transition: var.$Transition_ease;
}
.b-dwo{
    transition: var.$Transition_ease;
    width: 60px !important;
    transform: translateX(15px);
}
.b-there{
    width: 36px !important;
    height: 3px !important;
    transform: rotate(30deg) !important;
    transition: var.$Transition_ease;
}